# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
# Ignore large assets
public/Coromandel x Lune/04_Showreels/
# public/Coromandel x Lune/05_Client_Logos/
public/Coromandel x Lune/07_BTS_Images/*
!public/Coromandel x Lune/07_BTS_Images/bts-*.jpg
!public/Coromandel x Lune/07_BTS_Images/Core Team Photos/
public/Coromandel x Lune/07_BTS_Images/Core Team Photos/*
!public/Coromandel x Lune/07_BTS_Images/Core Team Photos/core-team-homepage-2.jpg
!public/Coromandel x Lune/07_BTS_Images/Core Team Photos/core-bts-1.jpg
!public/Coromandel x Lune/07_BTS_Images/Core Team Photos/core-bts-2.jpg
!public/Coromandel x Lune/07_BTS_Images/Core Team Photos/core-bts-3.jpg
!public/Coromandel x Lune/05_Client_Logos/
public/Coromandel x Lune/05_Client_Logos/*
!public/Coromandel x Lune/05_Client_Logos/Infosys.png
!public/Coromandel x Lune/05_Client_Logos/Knight Frank.png
!public/Coromandel x Lune/05_Client_Logos/BCCI.png
!public/Coromandel x Lune/05_Client_Logos/Speciale Invest.png
!public/Coromandel x Lune/05_Client_Logos/worldbank.png
!public/Coromandel x Lune/05_Client_Logos/worldbank2.png
!public/Coromandel x Lune/05_Client_Logos/infosys2.png
!public/Coromandel x Lune/04_Showreels/Video Thumbnails/
public/Coromandel x Lune/04_Showreels/Video Thumbnails/*
!public/Coromandel x Lune/04_Showreels/Video Thumbnails/Corporate.mp4
!public/Coromandel x Lune/04_Showreels/Video Thumbnails/Documentary.mp4
!public/Coromandel x Lune/04_Showreels/Video Thumbnails/Human Interest.mp4
!public/Coromandel x Lune/04_Showreels/Video Thumbnails/Sport.mp4

# temporary browser data
.chrome_temp/
